* {
    padding: 0;
    margin: 0;

    --primary-color: #1d2333;
    --secondary-color: #006aff;
    --secondary-hover-color: #005bdb;
    --search-btn-color: #17315b;
    --search-hover-btn-color: #388BFF;
    --navigation-list-colour: #202739;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-section {
    text-align: center;
    background-color: #161b28;
    color: #cecece;
    padding: 5px;
    font-size: 14px;
}

#nav {
    background-color: var(--primary-color);
}

.full-bar {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}

.full-bar img {
    color: white;
}

.btn {
    padding: 0 3rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 15px;
    line-height: 2.8rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-hover-color);
}

.flex-column-direction {
    display: flex;
    flex-direction: column;
}

.flex-column-direction p {
    color: white;
    font-size: 14px;
}

.icons-center {
    align-self: center;
}

.flex-icons {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.icon-inherit-properties {
    border: none;
    background-color: var(--primary-color);
    font-size: 25px;
    color: white;
}

#search {
    width: 20rem;
    padding: 0.8rem 0rem;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: white;
}

.search-btn {
    padding: 0.8rem 2rem;
    background-color: var(--search-btn-color);
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--search-hover-btn-color);
}

#navigation-list {
    background-color: var(--navigation-list-colour);
    height: 5rem;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.ul-menu {
    white-space: nowrap;
}

.ul-menu li {
    display: inline;
    white-space: nowrap;
    margin-right: 10px;
    color: white;
}

.ul-menu a {
    text-decoration: none;
}

.nav-link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.nav-item:hover {
    color: var(--secondary-color);
}